.rspec
/.bundle
/vendor/bundle
**.orig
/tomcat-solr/logs
codepal/db/*.sqlite3
codepal/log/*.log
codepal/log/*.*
codepal/tmp/*
codepal/*.swp
codepal/*.*~
codepal/shared/pids/*
codepal/shared/log/*
search-palbuddy/solr/development/data/*
tomcat-solr/logs/
